* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --color-bg-content: #fdf5ed;
  --color-bg-footer: #fee39a;
  --color-dark: #121212;
  --text: #f5f5f5;
  --color-btn: #3491f4;
  --color-btn-hover: #3284dd;
}
