.forgot-password-container {
  background-color: var(--color-bg-content);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .forgot-content {
    width: 600px;
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    // align-items: center;
    h1 {
      font-weight: 400;
      margin-bottom: 40px;
    }
    .text-info{
        color: rgb(114, 114, 114);
    }
    input {
      padding: 15px 10px;
      outline: none;
      border: 1px solid rgb(197, 197, 197);
      width: 100%;
      border-radius: 15px;
      font-size: 16px;
      margin-top: 20px;
      &:focus {
        box-shadow: 0 0 5px var(--color-btn-hover);
      }
    }
    button {
      width: 100%;
      background: var(--color-btn);
      color: #fff;
      border: none;
      height: 45px;
      border-radius: 15px;
      margin-top: 30px;
      font-size: 20px;
      cursor: pointer;
      transition: 0.2s;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background: var(--color-btn-hover);
      }
      i{
        font-size: 35px;
      }
    }
  }
}
